body {
    font-family: "Poppins", sans-serif;
    background-image: url(../images/background.png);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.nav {
    margin-top: 58px;
}

.nav .container {
    display: flex;
    align-items: center;
}

.nav-brand,
.nav-ctas {
    width: calc(40% / 2)
}

.menu {
    width: 60%;
}

.nav-brand {
    font-size: 22px;
    font-weight: 600;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.menu-item {
    color: #000;
    text-decoration: none;
    opacity: 0.8;
}

.menu-item:hover {
    opacity: 1;
    border-bottom: 1px solid #000;
}

.menu-item-active {
    font-weight: 600;
    opacity: 1;
}

.nav-ctas {
    text-align: right;
}

.sign-up {
    padding: 10px 25px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 135px 0;
    width: 653px;
    align-items: center;
    margin: 0 auto;
}

.hero-headline,
.hero-subheadline {
    text-align: center;
    margin: 0;
}

.hero-headline {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
}

.hero-subheadline {
    font-size: 16px;
    line-height: 32px;
    width: 553px;
}

.hero-ctas {
    margin-top: 25px;
    display: flex;
    gap: 20px;
}

.cta-primary,
.cta-secondary {
    padding: 12px 17px;
    font-weight: 600;
}

.cta-primary {
    display: inline-block;
    background-color: #001AFF;
    color: #fff;
    border-radius: 100px;
    text-decoration: none;
    box-shadow: 0px 15px 30px rgba(0, 26, 255, 0.2);
}

.cta-secondary {
    color: #001AFF;
}

.jobs {
    text-align: left;
    padding-bottom: 80px;
}

.jobs-headline {
    margin: 0, 0, 17px, 0;
    font-size: inherit;
    line-height: 24px;
    font-weight: 600;
}

.jobs-list {
    display: flex;
    gap: 30px;
}

.job {
    width: calc(100% / 3);
    padding: 25px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 8pc 30px 60px rgba(0, 26, 255, 0.1);
    text-decoration: none;
    transition: all 0.5s;
}

.job:hover {
    background-color: #001AFF;
}

.job:hover .job-title,
.job:hover .job-salary {
    color: #fff;
}

.job:hover .job-company,
.job:hover .job-description  {
    color: rgba(255, 255, 255, 0.8)
}

.job:hover .job-tag {
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
}

.job:hover .job-divider {
    border-color: rgba(255, 255, 255, 0.15);
}

.job-header {
    display: flex;
    align-items: center;
}

.job-logo {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

.job-meta {
    margin-left: 13px;
}

.job-title,
.job-tag,
.job-salary {
    color: #000;
}

.job-title {
    font-size: 18px;
    margin: 0, 0, 5px, 0;
    font-weight: 600;
}

.job-company {
    font-size: 14px;
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
}

.job-description {
    margin: 17px 0;
    color: rgba(0, 0, 0, 0.8);
    line-height: 26px;
}

.job-divider {
    margin: 25px 0;
    border-color: rgba(0, 0, 0, 0.15);
}

.job-footer {
    display: flex;
    align-items: center;
}

.job-tag {
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 100px;
    font-size: 12px;
    font-weight: 600;
}

.job-salary {
    margin-left: auto;
    font-size: 14px;
    font-weight: 600;
}
